@use "sass:math";
@use "sass:map";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$base-font-size: 14px;

$breakpoints: (
  tablet: rem(768px),
  mobile: rem(568px),
);

@function strip($value) {
  @return math.div($value, ($value * 0 + 1));
}

@function rem($pxValue) {
  @return #{math.div(strip($pxValue), strip($base-font-size))}rem;
}

@mixin tablet {
  @media (max-width: #{map-get($breakpoints, tablet)}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{map-get($breakpoints, mobile)}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (max-width: "#{$screen}px") {
    @content;
  }
}

$colors: (
  colorPink: rgba(252, 63, 95, 1),
  colorLilac: rgba(125, 97, 255, 1),
  colorLightBrown: rgba(43, 34, 21, 0.8),
  colorDarkBrown: rgba(34, 40, 46, 1),
  colorWhite: rgba(225, 225, 225, 1),
  colorDarkWhite: rgba(242, 244, 247, 1),
  colorGray: rgba(160, 163, 167, 1),
  colorDarkGray: rgba(196, 196, 196, 0.16),
  colorBlack: rgba(36, 40, 46, 1),
  colorShadow: rgba(0, 0, 0, 0.3),
  colorShadowButtonDark: rgba(37, 37, 37, 0.08),
  colorShadowButtonLight: rgba(135, 135, 135, 0.32),
);

body {
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;
  transition: 1s;

  background: map.get($colors, "colorPink");
  background: linear-gradient(
    90deg,
    map.get($colors, "colorPink") 0%,
    map.get($colors, "colorLilac") 100%
  );
}
